<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MuzickOnly | Home Page</title>
</head>
<body>
  <header>
    <h3>MuzickOnly</h3>
    <nav>
      <a href="/playlists">All Playlists</a>
      <a href="/songs">All Songs</a>
    </nav>
  </header>
  <h1>MuzickOnly Playlists Share</h1>
  <a href="/playlists">Explore Playlists</a>
  
</body>
</html>