<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MuzickOnly | Home Page</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/styles/main.css">

  <!-- Scripts -->
  <script src="/scripts/app.js" defer></script>

</head>
<body>
  <header>
    <h3>MuzickOnly</h3>
    <nav>
      <a href="/playlists">All Playlists</a>
      <a href="/playlists/new">Create New Playlist</a>
      <a href="/songs/new">Add a Song</a>
    </nav>
  </header>
  <h1>MuzickOnly Playlists Share</h1>
  <a href="/playlists">Explore Playlists</a>
</body>
</html>