<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist Names</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">
  
  <!-- Scripts -->
  <script src="/scripts/app.js" defer></script>

</head>
<body>
    <head>
        <nav>
            <a class="navbar-links" href="/songs/new">Add a song</a>
            <a class="navbar-links" href="/">Home</a>
        </nav>
        <h3>MuzickOnly</h3>
    </head>
<main>
    <h1> Song Home Page</h1>
    <% if(!songs.length){ %>
        <p>You have no songs!</p>
    <% } %>
    <ul>
        <% songs.forEach(song => { %>
         <li>
             <a href="/songs/<%= song._id %>"><%= song.title %> - <%= song.artist%></a>
         </li> 
        <% }) %>
    </ul>
     
</main>
</body>
</html>