<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Song Form</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">
  
  <!-- Scripts -->
  <script src="/scripts/app.js" defer></script>

</head>
<body>
<header>
  <nav>
      <a class="navbar-links" href="/">Home</a>
      <a class="navbar-links" href="/playlists">Explore Playlists</a>
      <a class="navbar-links" href="/playlists/new">Create a Playlists</a>
  </nav>
  <h3>MuzickOnly</h3>
</header>
<main>
   
    <div class="form-container"> 
        <h1>Add New Song</h1>
        <form action="/songs" method="POST">
            <p>
            <input type="text" name="title" placeholder ="Title Name" required >
            </p>
            <p>
            <input type="text" name="artist" placeholder ="Artist Name" required >
            </p>
            <p>
            <select name="playlist">
                <option default>Select a playlist</option>
                <% playlists.forEach(playlist => { %>
                    <option value="<%= playlist._id %>">
                        <%=playlist.name %>
                    </option>  
                <% }) %>
            </select>
            </p>
            <input class="submit-btn" type="submit" value="Add New Song" >
        </form>
    </div>
</main>   
</body>
</html>