<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Playlists</title>
</head>
<body>
  <head>
    <h3>MuzickOnly</h3>
    <nav>
      <a href="/">Home</a>
    </nav>
  </head>
  <main>
    <h1>Explore All Playlists</h1>
    <ul>
      <% playlists.forEach(playlist => { %>
       <li>
         <a href="/playlists/<%= playlist._id %> "> <%= playlist.name %>  </a>
       </li>
      <% }) %>
    </ul>

    <% if (playlists.length === 0) { %>
     <p>No playlists available. <a href="/playlists/new"> Create a playlist.</a></p>
    <% } %>
  </main>
  

</body>
</html>