<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Playlists</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">


  <!-- Scripts -->
  <script src="/scripts/app.js" defer></script>

</head>
<body>
  <header>
    <nav>
      <a class="navbar-links" href="/">Home</a>
      <a class="navbar-links" href="/playlists/new">Create a Playlist</a>
      <a class="navbar-links" href="/songs/new">Add a Song</a>
    </nav>
    <h3>MuzickOnly</h3>
  </header>
  <main>
    <div class="show-container">
      <h1>Explore All Playlists</h1>
      <ul>
        <% playlists.forEach(playlist => { %>
        <li>
          <a href="/playlists/<%= playlist._id %> "> <%= playlist.name %>  </a>
        </li>
        <% }) %>
      </ul>

      <% if (playlists.length === 0) { %>
      <p>No playlists available. <a href="/playlists/new"> Create a playlist.</a></p>
      <% } %>
    </div>
  </main>
  

</body>
</html>