<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create a Playlist</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/styles/main.css">

  <!-- Scripts -->
  <script src="/scripts/app.js" defer></script>
  
</head>
<body>
  <header>
    <h3>MuzickOnly</h3>
    <nav>
      <a href="/">Home</a>
      <a href="/playlists">Explore Playlists</a>
      <a href="/songs/new">Add a Song</a>
    </nav>
  </header>
  <main>
    <h1>Create a Playlist</h1>

    <form action="/playlists" method="POST">
      <p>
        <input type="text" name="name" placeholder ="Playlist Name" required >
      </p>
      <p>
      <select name="mood" >
        <option default>Select a Mood</option>
        <option value="Happy">Happy</option>
        <option value="Sad">Sad</option>
        <option value="Angry">Angry</option>
        <option value="Romantic">Romantic</option>
        <option value="Focused">Focused</option>
        <option value="Dancy">Dancy</option>
        <option value="Chill">Chill</option>
        <option value="Motivated">Motivated</option>
      </select>
      </p>
      <p>
      <textarea type="text" name="description" placeholder="Playlist description" cols="25" rows="4" required maxlength="240"></textarea>
      </p>
      <input type="submit" value="Create Playlist">
    </form>
  </main>
  
</body>
</html>