@import "./variables/variables.css";
@import "./components/header.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  padding: 0px;
  background-color: var(--primary-bg);
  color: var(--primary-text);
  font-family: "Raleway", sans-seriff;
  font-weight: 400;
}

main {
  height: 90vh;
  padding: 0px 15px;
}

h1 {
  margin: 0;
}

h3 {
  margin: 0;
}

ul {
  margin: 0;
}
